<html>
<head>
    <title>Đăng Nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style media="screen">

        html,body{
            background-image: url('https://d31v04zdn5vmni.cloudfront.net/blog/wp-content/uploads/2018/03/ultimate-guide-to-background-images-in-email.png');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .container{
            align-content: center;
        }

        .card{
            height: 350px;
            margin-top: 30%;
            margin-bottom: auto;
            width: 400px;
            background-color: rgba(0,0,0,0.5) !important;
        }

        .social_icon span{
            font-size: 60px;
            margin-left: 10px;
            margin-top: 5px;
            color: #17a2b8;
        }

        .social_icon span:hover{
            color: white;
            cursor: pointer;
        }

        .card-header h3{
            color: white;
        }
        .card-body{
            flex: none;
        }
        .social_icon{
            position: absolute;
            right: 20px;
            top: -5px;
        }

        .input-group-prepend span{
            width: 50px;
            background-color: #17a2b8;
            color: black;
            border:0 !important;
        }

        input:focus{
            box-shadow: 0 0 0 0 !important;

        }

        .remember{
            color: white;
        }

        .remember input
        {
            width: 20px;
            height: 20px;
            margin-left: 15px;
            margin-right: 5px;
        }

        .login_btn{
            color: white;
            background-color: #17a2b8;
            width: 100px;
            padding: 4px;
        }

        .login_btn:hover{
            color: black;
            background-color: white;
        }

        .links{
            color: white;
        }

        .links a{
            margin-left: 4px;
        }

        .card-footer a:hover{
            color: #FFC312;
        }

        @media only screen and (max-width: 768px) {
            .card{
                margin: auto 0;
                margin-top: 30%;
            }
        }
        @media only screen and (max-width: 400px) {
            .row{
                display: block;
            }
            .card{
                margin-top: 30%;
                width: 350px;
                height: 370px;
            }
            h3{
                text-align: center;
            }
            .social_icon span{
                display: none;
            }
        }

    </style>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Smart Ticket</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Gõ để tìm kiếm" aria-label="Search">
                <button class="btn btn-outline-info btn-sm my-2 my-sm-0" type="submit">Tìm</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Các sự kiện
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="#">Gần bạn</a>
                        <a class="dropdown-item" href="#">Bạn đã tham gia</a>
                        <a class="dropdown-item" href="#">Có thể bạn hứng thú</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Phân loại
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="/event/typeEvent?type=Music">Hòa nhạc</a>
                        <a class="dropdown-item" href="/event/typeEvent?type=Film">Xem phim</a>
                        <a class="dropdown-item" href="/event/typeEvent?type=Exhibition">Triển lãm</a>
                        <a class="dropdown-item" href="/event/typeEvent?type=Seminor">Hội thảo</a>
                        <a class="dropdown-item" href="/event/typeEvent?type=Other">Khác ...</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a href="/members/login" class="btn btn-info" role="button">Đăng nhập</a>
                    <a href="/members/register" class="btn btn-outline-info btn-sm">Đăng ký</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="d-flex justify-content-center h-100" >
        <div class="row">
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
                <div class="card-header" >
                    <h3>Đăng nhập</h3>

                    <div class="d-flex social_icon ">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                    </div>

                </div>
                <div class="card-body" >
                    <form action="/members/login" class="was-validated" method="post">  <!-- Action: # -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <label for="uname"></label>
                            <input id="uname" type="text" class="form-control" name='username' placeholder="Tài khoản" value="<%=username%>">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="Mật khẩu">
                        </div>
                        <div class="container">
                            <span style="color: white; background-color: #17a2b8"><%=msg%></span>
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Lưu mật khẩu</input>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Đăng nhập" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Bạn chưa có tài khoản?<a href="#">Đăng ký</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Tìm lại mật khẩu?</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="py-3 bg-dark">
    <div class="container">
        <div class="row" style="color: white">
            <div class="col-9">
                <span>Trang web bán vé online tham dự cuộc thi DEV-20.</span>
                <span>Bài dự thi của nhóm APOLLO.</span>
            </div>

            <div class="col-3" style="border-left: 2px double honeydew">
                <div class="row">
                    <div class="col-md-5">
                        Liên hệ:
                    </div>
                    <div class="col-md-7">
                        <a href="#" style="color: white"><i class="fab fa-facebook"></i> Facebook</a>
                        <br>
                        <a href="#" style="color: white"><i class="fab fa-google"></i> Gmail</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>

</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script>
    AOS.init();
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
